/* Variables */
@define-color background      #000000;
@define-color background-alt  #1a1b26;
@define-color background-hover #22232d;
@define-color foreground      #a9b1d6;
@define-color foreground-alt  #787c99;
@define-color red             #f7768e;
@define-color green           #41a6b5;
@define-color yellow          #e0af68;
@define-color blue            #7aa2f7;
@define-color magenta         #bb9af7;

/* Global Styles */
* {
    font-family: "SF Mono Nerd Font Mono", monospace;
    font-size: 16px;
    font-weight: normal;
    border: none;
    border-radius: 15px;
}

window#waybar {
    background-color: transparent;
    margin: 10px 10px 0 10px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
}

/* Module Groups */
.modules-left {
    background-color: @background;
    padding: 0 4px;
    border-radius: 0 15px 15px 0;
    border: 1px solid @background-alt;
}

.modules-right {
    background-color: @background;
    padding: 0 4px;
    border-radius: 15px 0 0 15px;
    border: 1px solid @background-alt;
}

/* All Modules */
#custom-updates, #disk, #mpris, #temperature, #cpu, #memory,
#network, #backlight, #pulseaudio, #battery, #clock, #tray, #mode, #window {
    padding: 4px 10px;
    margin: 0;
    background-color: transparent;
    color: @foreground;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.1);
    animation: slide-in 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#custom-updates:hover, #disk:hover, #mpris:hover, #temperature:hover, #cpu:hover,
#memory:hover, #network:hover, #backlight:hover, #pulseaudio:hover, #battery:hover,
#clock:hover, #tray:hover, #mode:hover, #window:hover {
    background-color: @background-hover;
    color: @foreground;
}

/* Specific Module Styles */
#workspaces button {
    padding: 4px 12px;
    margin: 0;
    min-width: 1px;
    color: @foreground-alt;
    background-color: transparent;
    font-weight: normal;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#workspaces button.focused {
    background-color: @background-alt;
    color: @foreground;
    font-weight: bold;
}

#workspaces button:hover {
    background-color: @background-hover;
}

#window {
    background-color: @background;
    padding: 0 10px;
}

#mode {
    background-color: @background-alt;
    color: @red;
    padding: 2px 6px;
    border-radius: 50%;
}

/* State-based Styles */
#network.disconnected,
#pulseaudio.muted {
    color: @red;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#temperature.warning,
#cpu.warning,
#memory.warning,
#disk.warning {
   color: @yellow;
}

#battery.critical,
#temperature.critical,
#cpu.critical,
#memory.critical,
#disk.critical {
   color: @red;
}

/* Animations */
@keyframes slide-in {
    from { margin-top: -20px; opacity: 0; }
    to { margin-top: 0px; opacity: 1; }
}
